.my-modal{
    width: 90%;
    max-width: 90%;
}

.modal-height{
    height:90%;
}

.img-size{
    width: 300px;
    height: auto;
}
.modal-header{
    display:flex;
}

.fs-modal .modal-content{
    background-color: #ffffe0;
}

.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

    width: 85vw;
    height:50vw;

}

